* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #d9d9d9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

header {
  text-align: center;
}

header > h1 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #f9f4da;
}

header > p {
  font-size: 0.875rem;
  max-width: 350px;
  color: #8e8e8e;
  margin: auto;
}

.game-status {
  background-color: #10a95b;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f9f4da;
  padding: 16px 8px;
  border-radius: 4px;
  margin-block: 30px;
}

.game-status > h2 {
  font-size: 1.25rem;
  margin: 5px;
}

.game-status > p {
  text-align: center;
  margin: 5px;
}

.languages-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 350px;
  gap: 5px;
  margin-bottom: 36px;
}

.language-chip {
  border-radius: 3px;
  padding: 4.5px;
}

.word-section{
  display: flex;
  justify-content: center;
  gap: 2px;
}

.letter {
  background-color: #323232;
  color: transparent;
  padding: 6px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  border-bottom: 1px solid #f9f4da;
}
.letter.guessed {
color:#F9F4DA ;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 16px 8px;
  margin-top: 56px;
  gap: 8px;
  max-width: 450px;
}

.keyboard-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #fcba29;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  gap: 6px;
  padding: 6px;
  cursor: pointer;
}
.keyboard-btn.correct {
  background-color: #10a95b;
}

.keyboard-btn.wrong {
  background-color: #ec5d49;
}

.new-game {
  background-color: #11b5e5;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  width: 225px;
  height: 40px;
  padding: 6px 12px;
  display: block;
  margin-inline: auto;
  margin-top: 26px;
  cursor: pointer;
}
