* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #d9d9d9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

header {
  text-align: center;
}

header > h1 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #f9f4da;
}

header > p {
  font-size: 0.875rem;
  max-width: 350px;
  color: #8e8e8e;
  margin: auto;
}

.game-status {
  background-color: #10a95b;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f9f4da;
  padding: 16px 8px;
  border-radius: 4px;
  margin-block: 30px;
}

.game-status > h2 {
  font-size: 1.25rem;
  margin: 5px;
}

.game-status > p {
  text-align: center;
  margin: 5px;
}

.languages-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 350px;
  gap: 5px;
}

.language-chip {
  border-radius: 3px;
  padding: 4.5px;
}
